/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--wght-card-text);
  background-color: var(--bcg-color);
  color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bcg-image);
}

.section {
  inline-size: clamp(22.5rem, 15.1056rem + 35.4930vw, 43.5rem);
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: repeat(8, min-content);
  gap: 54px;
}

.header {
  margin-block-start: 6.35rem;
  margin-block-end: 6.2rem;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  gap: 20px;
  block-size: 100%;
  background-color: var(--bcg-color);
  background-size: calc(100% - 13em);
  background-position: center;
  border: 2px solid var(--accent-color);
  padding-block-start: 90px;
}

.header__title {
  font-size: var(--title-font-size);
  font-family: var(--accent-font);
  text-transform: uppercase;
  align-self: end;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
}

.header__theme-menu {
  align-self: center;
  padding-block-end: 25px;
  padding-block-start: 10px;
  padding-inline-start: 12px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  inline-size: 85px;
}

.theme-menu__item {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
}

.theme-menu__button {
  appearance: none;
  padding: 1px;
  background-color: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  color: var(--disabled-button-color);
  transition: color ease 0.3s;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '\25BA';
  font-family: var(--accent-font);
  display: inline-block;
  block-size: 14px;
  position: absolute;
  inset-inline-start: -18px;
  inset-block-end: 8px;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.theme-menu__button:hover {
  color: var(--disabled-button-color);
  cursor: pointer;
  transition: color ease 0.3s;
}

.theme-menu__button:focus-visible {
  color: var(--disabled-button-color);
  transition: color 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: var(--disabled-button-color);
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bcg-color);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--wght-card-title);
}

.card__sprint-one-doubt>.card__title {
  border-bottom: 2px solid var(--accent-color);
}

.card__picture_image {
  inline-size: 100%;
  block-size: 696px;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.card__image-computer {
  object-fit: cover;
  filter: saturate(120%);
}

.card__image-puzzle {
  object-fit: cover;
  filter: blur(1px);
  border: none;
}

.card__image-perfectionism {
  filter: hue-rotate(-20deg);
  object-fit: fill;
}

.card__image-boat {
  object-fit: cover;
  filter: grayscale(0.3) contrast(0.9) saturate(150%);
}

.card__image-ornament {
  object-fit: cover;
  filter: opacity(0.75) contrast(2);
}

.card__image-question {
  filter: sepia(0.5);
  object-fit: fill;
}

.card__image-continue {
  object-fit: cover;
  filter: hue-rotate(10deg);
}

.card__text {
  padding: 25px;
  line-height: 1.315;
}

.card__text:last-of-type {
  padding-top: 0;
}

.card__text-puzzle {
  border-top: 2px solid var(--accent-color);
}

.wrapper__label {
  position: relative;
}

.wrapper__label::before {
  content: '\3C\2044 Html\3E';
  text-transform: uppercase;
  font-family: var(--accent-font);
  z-index: 2;
  font-size: 14px;
  color: var(--label-color);
  position: absolute;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--stroke-shadow-color),
    0 1px var(--stroke-shadow-color),
    1px 0 var(--stroke-shadow-color),
    0 -1px var(--stroke-shadow-color);
  inset-block-start: 25px;
  inset-inline-end: 25px;
}

@supports((text-stroke: 1px var(--stroke-shadow-color)) or (-webkit-text-stroke: 1px var(--stroke-shadow0color))) {
  .wrapper__label::before {
    -webkit-text-stroke: 1px var(--stroke-shadow-color);
    text-stroke: 1px var(--stroke-shadow-color);
    text-shadow: none;
  }
}

.card__sprint-one>.wrapper__label::before {
  content: '\3C\2044 Step_one\3E';
}

.card__sprint-one-doubt>.wrapper__label::before {
  content: '\3C\2044 Doubt\3E';
}

.card__sprint-two>.wrapper__label::before {
  content: '\3C\2044 Ideal\3E';
}

.card__sprint-two-team>.wrapper__label::before {
  content: '\3C\2044 Collaboration\3E';
}

.card__sprint-three>.wrapper__label::before {
  content: '\3C\2044 Strategies\3E';
}

.card__sprint-three-confusion>.wrapper__label::before {
  content: '\3C\2044 Confusion\3E';
}

.card__sprint-now>.wrapper__label::before {
  content: '\3C\2044 Optimism\3E';
}

.button__area {
  padding: 0 25px 25px 0;
  inline-size: 100%;
  align-self: end;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:focus-visible {
  outline: none;
  transition: box-shadow ease 0.3s;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  block-size: 100%;
  background-color: var(--accent-color);
  background-size: cover;
  transition: transform ease-in-out 0.3s;
  transform: scaleX(0);
  transform-origin: -10px;
}

.button:hover {
  outline: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--like-button-color);
  text-align: center;
  font-family: var(--accent-font);
  mix-blend-mode: difference;
  line-height: 0.9;
  font-size: 14px;
}

.icon__button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
  block-size: 38px;
  inline-size: 38px;
  text-align: center;
}

.like-icon {
  width: 38px;
  height: 35px;
}

.icon__button:focus-visible {
  outline: none;
  transition: border ease 0.3s;
  border: 2px solid var(--accent-color);
}

.sparks {
  transition-timing-function: linear;
  fill: transparent;
}

.footer {
  inline-size: clamp(22.5rem, 15.1056rem + 35.4930vw, 43.5rem);
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 50px 25px 100px;
}

.footer__button_area {
  justify-self: center;
  align-self: end;
  inline-size: 335px;
  position: relative;
  background-color: var(--bcg-color);
  grid-row: 1 / span 3;
}

.footer__button {
  inline-size: 100%;
  padding: 15px 15px;
  text-align: end;
}

.footer__button_image {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  inline-size: 21px;
  block-size: 21px;
  object-fit: fill;
  position: absolute;
  z-index: 2;
  mix-blend-mode: difference;
  inset-block-start: 15px;
  inset-inline-start: 18px;
}

.dialog {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: min-content min-content;
  row-gap: 32px;
  inline-size: 357px;
  background-color: var(--bcg-color);
  justify-items: center;
  align-items: center;
  position: fixed;
  padding: 28px 32px;
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__image {
  inline-size: 40px;
  block-size: 40px;
  object-fit: cover;
  mix-blend-mode: difference;
  justify-self: start;
  grid-column: 1 / span 2;
}

.dialog__title {
  font-family: var(--accent-font);
  color: var(--like-button-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  mix-blend-mode: difference;
  grid-column: 3 / span 7;
  text-transform: uppercase;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__form {
  grid-column: 1 / span 10;
}

.dialog__button {
  inline-size: 293px;
  height: 38px;
  text-transform: uppercase;
}

@media (width <=376px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
    padding-block-start: 70px;
    gap: 20px;
  }

  .header__title {
    grid-row: 1 / span 1;
  }

  .header__theme-menu {
    padding-block-start: 4px;
    padding-block-end: 25px;
  }

  .card__picture_image {
    block-size: 371px;
  }

  .footer {
    display: grid;
    grid-template-rows: 1fr;
    padding-block-start: 48px;
    padding-block-end: 90px;
  }

  .footer__button_area {
    inline-size: 306px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    block-size: 100%;
    border: 2px solid var(--accent-color);
  }

  .footer__button {
    block-size: 100%;
    inline-size: 100%;
    text-align: center;
    border: none;
    padding: 50px 15px 12px;
    grid-row: 1 / span 2;
  }

  .footer__button_image {
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    inset-block-start: 15%;
    inset-inline-start: 45%;
  }

  .dialog {
    inline-size: 100%;
    position: fixed;
  }

  .dialog__image {
    width: 45px;
    height: 45px;
    grid-column: 1 / span 2;

  }

  .dialog__title {
    grid-column: 3 / span 8;
    padding-inline-start: 5px;
  }

  .dialog__button {
    inline-size: 257px;
  }

}